[Unit]
Description=Tic Tac Toe Telegram Bot
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/behzod/github/tictactoe_bot/app
ExecStart=/home/ubuntu/behzod/github/tictactoe_bot/venv/bin/python main.py
Restart=always

[Install]
WantedBy=multi-user.target
